.container {
  display: flex;
}

.chat-list-container {
  width: 25%;
}

.chat-list__link {
  text-decoration: none;
  color: rgb(92, 92, 92);
}

.chat-item {
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
}

.message-container__text_field {
  margin: 10px 20px;
}

.message-container__button {
  margin-top: 10px;
}
